<a href="https://colab.research.google.com/github/sharmariya19/python-basics/blob/main/Errors_and_Exception_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Syntax Errors

In [78]:
#syntax error
sub1 = "Phy"
sub2 = "Bio"

sub3 = sub1 sub2

SyntaxError: ignored

In [79]:
#syntax error - missing colon

if 2 == 3
print("Equal")

SyntaxError: ignored

In [81]:
# IndentationError
if 1==1:
  print("Both numbers are equal")
 print("Okay bye")

IndentationError: ignored

## Exception Handling

### Recursion Error

In [82]:
def sum(var):
  return sum(var+1) + var

try:
  res = sum(3)
except RecursionError as re:
  print(re)

maximum recursion depth exceeded

### ZeroDivisionError

In [83]:
numerator = 10
denominator = 0
try:
  res = numerator/denominator
except ZeroDivisionError as error:
  print("You can not divide a number by zero")
else:
  print(res)

You can not divide a number by zero

### Type Error

In [86]:
name = "riya"
year = 4

try :
  print(name + year)
except TypeError as te:
  print("It's a type error:", te)
finally:
  print("Hey",name,"go ahead!")

It's a type error: can only concatenate str (not "int") to str
Hey riya go ahead!

### Overflow Error

In [87]:
import math

try:
  num = math.pow(1000,1000)
except OverflowError:
  print("the result is out of range")

the result is out of range

### Assertion Error

In [88]:
num1 = 3
num2 = 4

try:
  assert num1==num2
except AssertionError:
  print("The condition is False")

The condition is False

### Name Error

In [89]:
try:
  marks = total_marks
except NameError as ne:
  print(ne)

name 'total_marks' is not defined

### Import Error

In [90]:
try:
  import matplot
except ModuleNotFoundError as e:
  print(e)

No module named 'matplot'

### Attribute Error

In [91]:
class Student:
  __uniqueid = 1001
  def get_details(self):
    pass

try:
  student1 = Student()
  id = student1.__uniqueid
except AttributeError as ae:
  print(ae)
else:
  print(id)

'Student' object has no attribute '__uniqueid'

### Value Error

In [92]:
roll_no = "three"

try:
  rollno = int(roll_no)
  print(rollno)
except ValueError:
  print("ValueError: could not convert string to int")

ValueError: could not convert string to int

### Lookup Error

In [93]:
# Index Error -> index of list does not exist
fruits = ["apple", "banana", "cherry"]

try:
  fruit = fruits[4]
except IndexError:
  print("list index out of range")
finally:
  print("Let's eat fuits!")

list index out of range
Let's eat fuits!

In [94]:
# Key Error -> key in dictionary does not exist
student1 = {
    "name" : "Riya",
    "reg_no":"PCE19CS143",
    "batch" : "2023"
    }
try:
  roll_no = student1["roll_no"]
except KeyError:
  print("The given key does not exist in this dictionary")

The given key does not exist in this dictionary