<a href="https://colab.research.google.com/github/sharmariya19/python-basics/blob/main/Python_Baiscs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [166]:
print("Hello, World!")

Hello, World!

In [167]:
# Variable creation
name = "Riya"
age = 21
is_student = True


print(name)
print(type(name))   # data type of variable
print(age, type(age))
print(is_student , type(is_student))

# Type Casting
a = 3
b = float(a)
c = 3.2
d = int(c)

print("a = ",a, type(a))
print("b = ", b, type(b))
print("c = ",c, type(c))
print("d = ",d, type(d))

x,y,z = 1,2,3
a=b=c=10   #one value to multiple variables
print("a= {}, b= {}, c= {}, x={}, y={}, z={}".format(a,b,c,x,y,z))

Riya
<class 'str'>
21 <class 'int'>
True <class 'bool'>
a =  3 <class 'int'>
b =  3.0 <class 'float'>
c =  3.2 <class 'float'>
d =  3 <class 'int'>
a= 10, b= 10, c= 10, x=1, y=2, z=3

In [168]:
# Strings

for x in name:
  print(x)


greeting = "Good Morning"

print(greeting[:4])
print(greeting[5:])
print("length:", len(greeting))

if "R" in name:
  print("R is present in {name_}".format(name_ = name.upper()))
else:
  print("R is not present in {name_}".format(name_ = name.upper()))


print("o occur in Hello at: ", "Hello".index('o'))

R
i
y
a
Good
Morning
length: 12
R is present in RIYA
o occur in Hello at:  4

In [169]:


def even_odd(num):
  if num%2 == 0:
      return("even")
  else:
      return("odd")

def int_val(val):
  if val>0:
    return("Positive "+ even_odd(val))   
  elif val<0:
    return("Negative "+ even_odd(val))
  else:
    return("Zero")


print("3 is : " + int_val(3))
print("10 is : " + int_val(10))

3 is : Positive odd
10 is : Positive even

In [170]:
# arbitrary arguments
def sum(no, *value):
  sum=0
  for i in value:
    sum+=i
  else:
    return sum

ans = sum(5,1,2,3,4,5)
print(ans)

15

In [171]:
# lambda function
sum = lambda num1, num2 : num1 + num2
print(sum(500, 600))

1100

In [172]:
# List
names = ['riya', 'khushi','ananya']
for name in names:
  if 'a' in name:
    print(name)

print(names[0])
names.append('chhavi')
print(names)
print(len(names))
print(names[:2])
names.remove('riya')
print(names)
names.sort()
print(names)

riya
ananya
riya
['riya', 'khushi', 'ananya', 'chhavi']
4
['riya', 'khushi']
['khushi', 'ananya', 'chhavi']
['ananya', 'chhavi', 'khushi']

In [173]:
#map function
lst1 = [1,2,3,4,5,6]

def lst_fun(n):
  return n*2

res = map(lst_fun, lst1)

print(list(res))

[2, 4, 6, 8, 10, 12]

In [174]:
#tuple
nametuple = tuple(names)
print(nametuple)
print("lenght: ", len(nametuple))
print(nametuple[0])
# mytuple[0] = "tanu" # tuple value can't be changed or removed

('ananya', 'chhavi', 'khushi')
lenght:  3
ananya

In [175]:
#sets

myset = {1,2,3,4,1,2}
print(myset)
#print(myset[0])  # indexing not allowed in set

{1, 2, 3, 4}

In [176]:
# dictionary

detail = {
    "name":"riya",
    "year":4,
    "sem":7
}
print(detail["name"])
detail["name"] = "khushi"
print(detail)
detail["marks"] = 60
print(detail)

riya
{'name': 'khushi', 'year': 4, 'sem': 7}
{'name': 'khushi', 'year': 4, 'sem': 7, 'marks': 60}

In [177]:
# Classes and Objects

class Calculate:
  __num = 20
  _num1 = 0
  _num2 = 0
  def __init__(self,num_1,num_2):    # class constructor
    self._num1 = num_1
    self._num2 = num_2
  
  def add(self, num1,num2):
    print("Addition of {} and {} = {}".format(num1,num2,num1+num2))

  def sub(self,num1,num2):
    print("Subtraction of {} and {} = {}".format(num1,num2,num1-num2))

  def multiply(self,num1,num2):
    print("Multiplication of {} and {} = {}".format(num1,num2,num1*num2))

  def divide(self,num1,num2):
    try:
      num1/num2
    except ZeroDivisionError as e:
      print("Division by zero not allowed")
    else:
      print("Division of {} and {} = {}".format(num1,num2,num1//num2))    #floor division

  def display(self):
    self.add(self._num1, self._num2)
    self.sub(self._num1, self._num2)
    self.multiply(self._num1, self._num2)
    self.divide(self._num1, self._num2)


class AdvanceCalculate(Calculate):
  def __init__(self, num1,num2):
    super().__init__(num1,num2)

  def exponent(self,num1,num2):
    print("{} exponent of {} = {}".format(num1,num2,num1**num2))

  def display(self):
    super().display()
    self.exponent(self._num1, self._num2)

In [178]:
print("Please enter two numbers :")
number1 = int(input("1st number: "))
number2 = int(input("2nd number: "))

obj1 = Calculate(number1, number2)

obj1.display()

Please enter two numbers :
1st number: 4
2nd number: 5
Addition of 4 and 5 = 9
Subtraction of 4 and 5 = -1
Multiplication of 4 and 5 = 20
Division of 4 and 5 = 0

In [179]:
print(obj1.__z) # can not access private variables

AttributeError: ignored

In [180]:
obj2 = AdvanceCalculate(3, 5)

obj2.display()

Addition of 3 and 5 = 8
Subtraction of 3 and 5 = -2
Multiplication of 3 and 5 = 15
Division of 3 and 5 = 0
3 exponent of 5 = 243