In [143]:
print("Hello, World!")

Hello, World!

In [144]:
# Variable creation
name = "Riya"
age = 21
is_student = True


print(name)
print(type(name))   # data type of variable
print(age, type(age))
print(is_student , type(is_student))

# Type Casting
a = 3
b = float(a)
c = 3.2
d = int(c)

print("a = ",a, type(a))
print("b = ", b, type(b))
print("c = ",c, type(c))
print("d = ",d, type(d))

x,y,z = 1,2,3
a=b=c=10   #one value to multiple variables
print("a= {}, b= {}, c= {}, x={}, y={}, z={}".format(a,b,c,x,y,z))

Riya
<class 'str'>
21 <class 'int'>
True <class 'bool'>
a =  3 <class 'int'>
b =  3.0 <class 'float'>
c =  3.2 <class 'float'>
d =  3 <class 'int'>
a= 10, b= 10, c= 10, x=1, y=2, z=3

In [145]:
# Strings

for x in name:
  print(x)


greeting = "Good Morning"

print(greeting[:4])
print(greeting[5:])
print("length:", len(greeting))

if "R" in name:
  print("R is present in {name_}".format(name_ = name.upper()))
else:
  print("R is not present in {name_}".format(name_ = name.upper()))


print("o occur in Hello at: ", "Hello".index('o'))

R
i
y
a
Good
Morning
length: 12
R is present in RIYA
o occur in Hello at:  4

In [146]:


def even_odd(num):
  if num%2 == 0:
      return("even")
  else:
      return("odd")

def int_val(a):
  if a>0:
    return("Positive "+ even_odd(a))   
  elif a<0:
    return("Negative "+ even_odd(a))
  else:
    return("Zero")


print("3 is : " + int_val(3))
print("10 is : " + int_val(10))

3 is : Positive odd
10 is : Positive even

In [147]:
# arbitrary arguments
def sum(no, *value):
  sum=0
  for i in value:
    sum+=i
  else:
    return sum

ans = sum(5,1,2,3,4,5)
print(ans)

15

In [148]:
# lambda function
sum = lambda num1, num2 : num1 + num2
print(sum(500, 600))

1100

In [149]:
# List
lst = ['riya', 'khushi','ananya']
for name in lst:
  if 'a' in name:
    print(name)

print(lst[0])
lst.append('chhavi')
print(lst)
print(len(lst))
print(lst[:2])
lst.remove('riya')
print(lst)
lst.sort()
print(lst)

riya
ananya
riya
['riya', 'khushi', 'ananya', 'chhavi']
4
['riya', 'khushi']
['khushi', 'ananya', 'chhavi']
['ananya', 'chhavi', 'khushi']

In [150]:
#map function
lst1 = [1,2,3,4,5,6]

def lst_fun(n):
  return n*2

res = map(lst_fun, lst1)

print(list(res))

[2, 4, 6, 8, 10, 12]

In [151]:
#tuple
mytuple = tuple(lst)
print(mytuple)
print("lenght: ", len(mytuple))
print(mytuple[0])
# mytuple[0] = "tanu" # tuple value can't be changed or removed

('ananya', 'chhavi', 'khushi')
lenght:  3
ananya

In [152]:
#sets

myset = {1,2,3,4,1,2}
print(myset)
#print(myset[0])  # indexing not allowed in set

{1, 2, 3, 4}

In [153]:
# dictionary

mydict = {
    "name":"riya",
    "year":4,
    "sem":7
}
print(mydict["name"])
mydict["name"] = "khushi"
print(mydict)
mydict["marks"] = 60
print(mydict)

riya
{'name': 'khushi', 'year': 4, 'sem': 7}
{'name': 'khushi', 'year': 4, 'sem': 7, 'marks': 60}

In [154]:
# Classes and Objects

class Calculate:
  __z = 20
  _a = 0
  _b = 0
  def __init__(self,num_1,num_2):    # class constructor
    self._a = num_1
    self._b = num_2
  
  def add(self, a,b):
    print("Addition of {} and {} = {}".format(a,b,a+b))

  def sub(self,a,b):
    print("Subtraction of {} and {} = {}".format(a,b,a-b))

  def multiply(self,a,b):
    print("Multiplication of {} and {} = {}".format(a,b,a*b))

  def divide(self,a,b):
    try:
      a/b
    except ZeroDivisionError as e:
      print("Division by zero not allowed")
    else:
      print("Division of {} and {} = {}".format(a,b,a//b))    #floor division

  def display(self):
    self.add(self._a, self._b)
    self.sub(self._a, self._b)
    self.multiply(self._a, self._b)
    self.divide(self._a, self._b)


class AdvanceCalculate(Calculate):
  def __init__(self, a,b):
    super().__init__(a,b)

  def exponent(self,a,b):
    print("{} exponent of {} = {}".format(a,b,a**b))

  def display(self):
    super().display()
    self.exponent(self._a, self._b)

In [155]:
print("Please enter two numbers :")
num1 = int(input("1st number: "))
num2 = int(input("2nd number: "))

obj1 = Calculate(num1, num2)

obj1.display()

Please enter two numbers :
1st number: 6
2nd number: 5
Addition of 6 and 5 = 11
Subtraction of 6 and 5 = 1
Multiplication of 6 and 5 = 30
Division of 6 and 5 = 1

In [156]:
print(obj1.__z) # can not access private variables

AttributeError: ignored

In [157]:
obj2 = AdvanceCalculate(3, 5)

obj2.display()

Addition of 3 and 5 = 8
Subtraction of 3 and 5 = -2
Multiplication of 3 and 5 = 15
Division of 3 and 5 = 0
3 exponent of 5 = 243