## Numeric Data Type

In [117]:
total_marks = 10
obtained_marks = 7.5

complex_num = 3+2j


print(type(total_marks))
print(type(obtained_marks))
print(type(complex_num))

total_marks = float(total_marks)
print(type(total_marks))
total_marks = complex(total_marks)
print(type(total_marks))

#can't convert complex to int
#complex_num = int(complex_num)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'float'>
<class 'complex'>

## Boolean Data Type

In [118]:
print(type(True))
print(True or False)
print(True and False)

print('a'=='b')
print(3>=2)

<class 'bool'>
True
False
False
True

## String Data Type

In [119]:
name = "riya"
roll_no = 3
address = '''IHS Colony
Sawai Madhopur
Rajasthan(322001)'''

print(type(name))
print(type(roll_no))

print("Hello " + name + " Your roll no. is" , roll_no)
print("address: " + address)
roll_no = str(roll_no)
print(type(roll_no))
print("Is your roll no. " + roll_no + "?")

<class 'str'>
<class 'int'>
Hello riya Your roll no. is 3
address: IHS Colony
Sawai Madhopur
Rajasthan(322001)
<class 'str'>
Is your roll no. 3?

In [120]:

print(name.capitalize())

print("No. of time 'o' occur in address:", address.count('o'))

print(address[:10])
print(address.split("\n" ))

print("Rajastan is found at index: ", address.find("Rajasthan"))
print("HEy!".lower())
print("Bye!".upper())

print("GO".replace("G", "N"))

Riya
No. of time 'o' occur in address: 3
IHS Colony
['IHS Colony', 'Sawai Madhopur', 'Rajasthan(322001)']
Rajastan is found at index:  26
hey!
BYE!
NO

### List

In [121]:
fruits = ["banana", "apple", "cherry"]
fruits.append("guava")

print(fruits)
print("no. of fruits: ", len(fruits))

for fruit in fruits:
  if fruit.startswith('g'):
    fruits.remove(fruit)

print(fruits)
print("no. of fruits: ", len(fruits))

print(fruits[-3:-1])
fruits.insert(2,"pineapple")
print(fruits)

new_fruits = [fruit for fruit in fruits if 'a' in fruit]
print(new_fruits)
new_fruits.sort()
str_ = " ".join(new_fruits)

print(str_)

['banana', 'apple', 'cherry', 'guava']
no. of fruits:  4
['banana', 'apple', 'cherry']
no. of fruits:  3
['banana', 'apple']
['banana', 'apple', 'pineapple', 'cherry']
['banana', 'apple', 'pineapple']
apple banana pineapple

In [122]:
nums = [1,6,9,3,"a","c"]
nums.reverse()
print(nums)

['c', 'a', 3, 9, 6, 1]

## Tuple

In [123]:
cars = ('audi',)
print(type(cars))
new_cars = ('audi', 'mercedes', 'ferrari','bmw')
cars += new_cars
prices = (12000,13000,14000,12500)

car_price = zip(cars,prices)
print("cars with prices: ",tuple(car_price))
print(cars[:])
print(cars.count('audi'))
print(cars.index('bmw'))

cars_lst = list(cars)
cars_lst.append('alto')

print(tuple(cars_lst))

<class 'tuple'>
cars with prices:  (('audi', 12000), ('audi', 13000), ('mercedes', 14000), ('ferrari', 12500))
('audi', 'audi', 'mercedes', 'ferrari', 'bmw')
2
4
('audi', 'audi', 'mercedes', 'ferrari', 'bmw', 'alto')

In [124]:
(car1, *other_cars) = cars
print(car1)
print(other_cars)

audi
['audi', 'mercedes', 'ferrari', 'bmw']

## Sets

In [125]:
nums = {1,2,3,4,1,2,3,7,8,9,4}

nums.add(10)
print(nums, type(nums))
print("Length of set: ", len(nums))
nums.discard(9)
fset = frozenset(nums)
print(fset)
# .add() not allowed in frozenset
# fset.add(11)

{1, 2, 3, 4, 7, 8, 9, 10} <class 'set'>
Length of set:  8
frozenset({1, 2, 3, 4, 7, 8, 10})

In [126]:
nums2 = {4,9,10,20}
nums3 = nums.union(nums2)

nums4 = nums.intersection(nums2)

print(nums3)
print(nums4)

{1, 2, 3, 4, 7, 8, 9, 10, 20}
{10, 4}

## Dictionary

In [127]:
students = {
  "student1" : {
    "name" : "Riya",
    "year" : 2023
  },
  "student2" : {
    "name" : "Jo",
    "year" : 2024
  },
  "student3" : {
    "name" : "Monica",
    "year" : 2022
  }
}

print("type of students is: {} and length is:{} ".format(type(students), len(students)))
print(students.get('student1'))
print(students['student2']['name'])
print(students.keys())
students.update({"student4":{"name": "Rishi","year":2023}})

students.pop('student3')
print(students)

type of students is: <class 'dict'> and length is:3
{'name': 'Riya', 'year': 2023}
Jo
dict_keys(['student1', 'student2', 'student3'])
{'student1': {'name': 'Riya', 'year': 2023}, 'student2': {'name': 'Jo', 'year': 2024}, 'student4': {'name': 'Rishi', 'year': 2023}}

In [128]:
students.clear()
print(students)

{}