<a href="https://colab.research.google.com/github/sharmariya19/python-basics/blob/main/Python_Baiscs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# Variable creation
name = "Riya"
age = 21
is_student = True


print(name)
print(type(name))   # data type of variable
print(age, type(age))
print(is_student , type(is_student))

# Type Casting
a = 3
b = float(a)
c = 3.2
d = int(c)

print("a = ",a, type(a))
print("b = ", b, type(b))
print("c = ",c, type(c))
print("d = ",d, type(d))

x,y,z = 1,2,3
a=b=c=10   #one value to multiple variables
print("a= {}, b= {}, c= {}, x={}, y={}, z={}".format(a,b,c,x,y,z))

Riya
<class 'str'>
21 <class 'int'>
True <class 'bool'>
a =  3 <class 'int'>
b =  3.0 <class 'float'>
c =  3.2 <class 'float'>
d =  3 <class 'int'>
a= 10, b= 10, c= 10, x=1, y=2, z=3

In [3]:
# Strings

for x in name:
  print(x)


greeting = "Good Morning"

print(greeting[:4])
print(greeting[5:])
print("length:", len(greeting))

if "R" in name:
  print("R is present in {name_}".format(name_ = name.upper()))
else:
  print("R is not present in {name_}".format(name_ = name.upper()))


print("o occur in Hello at: ", "Hello".index('o'))

R
i
y
a
Good
Morning
length: 12
R is present in RIYA
o occur in Hello at:  4

In [4]:


def even_odd(num):
  if num%2 == 0:
      return("even")
  else:
      return("odd")

def int_val(val):
  if val>0:
    return("Positive "+ even_odd(val))   
  elif val<0:
    return("Negative "+ even_odd(val))
  else:
    return("Zero")


print("3 is : " + int_val(3))
print("10 is : " + int_val(10))

3 is : Positive odd
10 is : Positive even

In [5]:
# arbitrary arguments
def sum(no, *value):
  sum=0
  for i in value:
    sum+=i
  else:
    return sum

ans = sum(5,1,2,3,4,5)
print(ans)

15

In [6]:
# lambda function
sum = lambda num1, num2 : num1 + num2
print(sum(500, 600))

1100

In [7]:
# List
names = ['riya', 'khushi','ananya']
for name in names:
  if 'a' in name:
    print(name)

print(names[0])
names.append('chhavi')
print(names)
print(len(names))
print(names[:2])
names.remove('riya')
print(names)
names.sort()
print(names)

riya
ananya
riya
['riya', 'khushi', 'ananya', 'chhavi']
4
['riya', 'khushi']
['khushi', 'ananya', 'chhavi']
['ananya', 'chhavi', 'khushi']

In [8]:
#map function
lst1 = [1,2,3,4,5,6]

def lst_fun(n):
  return n*2

res = map(lst_fun, lst1)

print(list(res))

[2, 4, 6, 8, 10, 12]

In [9]:
#tuple
nametuple = tuple(names)
print(nametuple)
print("lenght: ", len(nametuple))
print(nametuple[0])
# mytuple[0] = "tanu" # tuple value can't be changed or removed

('ananya', 'chhavi', 'khushi')
lenght:  3
ananya

In [10]:
#sets

myset = {1,2,3,4,1,2}
print(myset)
#print(myset[0])  # indexing not allowed in set

{1, 2, 3, 4}

In [11]:
# dictionary

detail = {
    "name":"riya",
    "year":4,
    "sem":7
}
print(detail["name"])
detail["name"] = "khushi"
print(detail)
detail["marks"] = 60
print(detail)

riya
{'name': 'khushi', 'year': 4, 'sem': 7}
{'name': 'khushi', 'year': 4, 'sem': 7, 'marks': 60}

In [12]:
# Classes and Objects
x=10
class Calculate:
  __num = 20
  _num1 = 0
  _num2 = 0
  def __init__(self,num1,num2):    # class constructor
    self._num1 = num1
    self._num2 = num2
  
  def add(self):
    print("Addition of {} and {} = {}".format(self._num1, self._num2, self._num1+self._num2))

  def sub(self):
    print("Subtraction of {} and {} = {}".format(self._num1, self._num2, self._num1-self._num2))

  def multiply(self):
    print("Multiplication of {} and {} = {}".format(self._num1, self._num2, self._num1*self._num2))

  def divide(self):
    try:
      self._num1/self._num2
    except ZeroDivisionError as e:
      print("Division by zero not allowed")
    else:
      print("Division of {} and {} = {}".format(self._num1,self._num2,self._num1//self._num2))    #floor division

  def display(self):
    self.add()
    self.sub()
    self.multiply()
    self.divide()


class AdvanceCalculate(Calculate):
  def __init__(self, num1,num2):
    super().__init__(num1,num2)

  def exponent(self):
    print("{} to the power of {} = {}".format(self._num1, self._num2, self._num1**self._num2))

  def display(self):
    super().display()
    self.exponent()

In [13]:
print("Please enter two numbers :")
number1 = int(input("1st number: "))
number2 = int(input("2nd number: "))

obj1 = Calculate(number1, number2)

obj1.display()

Please enter two numbers :
1st number: 5
2nd number: 6
Addition of 5 and 6 = 11
Subtraction of 5 and 6 = -1
Multiplication of 5 and 6 = 30
Division of 5 and 6 = 0

In [14]:
print(obj1.__num) # can not access private variables

AttributeError: ignored

In [15]:
obj2 = AdvanceCalculate(3, 5)

obj2.display()

Addition of 3 and 5 = 8
Subtraction of 3 and 5 = -2
Multiplication of 3 and 5 = 15
Division of 3 and 5 = 0
3 to the power of 5 = 243

In [16]:
#iterators

vowels = ("a", "e","i","o","u")
it = iter(vowels)

print(next(it))
print(next(it))
print(next(it))
print(next(it))

a
e
i
o

In [17]:
#generator function
def fruits():
    yield ("Mango")
    yield("Apple")
    yield("Banana")

fruit = fruits()

for _ in range(3):
  print(next(fruit))
else:
  print("Done")

Mango
Apple
Banana
Done

In [18]:
# closure functions

def outer(initial_val):
  start = initial_val
  def inner(step = 2):
    nonlocal start
    start += step
    print(start)

  return inner
          
val = outer(3)

In [19]:
print(val)

<function outer.<locals>.inner at 0x7f5eca06fb00>

In [20]:
val(3)

6

In [21]:
val(1)

7

In [22]:
# dataclasses

from dataclasses import dataclass

@dataclass
class Person:
  name:str
  age:int
  job:str

person1 = Person("arya",30,"accountant")
person2 = Person("faiz", 35, "guard")

print(person1)
print(person2.name)

Person(name='arya', age=30, job='accountant')
faiz

In [23]:
# decorator function

def name(func):
  print("Inside name fun")

  def inner(val):
    print("Inside inner")
    # val = func()
    return val
  return inner


@name
def greet(val):
  print("Inside greet")
  return val


obj = greet("Hello")
print(obj)

Inside name fun
Inside inner
Hello